@model CardFitness.Models.FichaExercicioVM
@{
    ViewBag.Title = "Exercícios da Ficha";
}

<div style="margin-top: 20px">
    <div class="pull-left">
        <div>
            <h4 style="display:inline; font-size: 24px; font-weight:bold ">
                Exercícios associados a ficha: @Html.Label(Model.Ficha.Descricao)
            </h4>
        </div>
    </div>
    <div class="pull-right">

        <a href="@Url.Action("VincularExercicio", "Ficha", new { IDFicha = Model.Ficha.IDFicha })" class="btn btn-primary">
            Vincular Novo Exercício
        </a>
    </div>
</div>



<table class="table table-hover pull-left" style="margin-top:20px;">

    <tr>
        <td>
            @Html.Label("Exercicio")
        </td>
        <td>
            @Html.Label("Serie")
        </td>
        <td>
            @Html.Label("Repeticões")
        </td>
        <td>
            @Html.Label("Carga")
        </td>
        <td  class="text-right">
            @Html.Label("Opções")
        </td>
    </tr>
    @{ foreach (var item in Model.FichaExercicio)
        {
            <tr>
                <td>
                    @item.Exercicio.Descricao
                </td>
                <td>
                    @item.Serie.ToString()x
                </td>
                <td>
                    @item.Repeticao
                </td>

                <td>
                    @String.Format("{0:0}", item.Carga)
                </td>
                <td class="text-right">
                    <a href="@Url.Action("DeletarFichaExercicio", "Ficha", new { IDFichaExercicio = item.IDFichaExercicio })" class="btn btn-danger" title="Remover esse exercício dessa ficha">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        }
    }
</table>
