@model IEnumerable<CardFitness.Models.FichaExercicio>
@{
    ViewBag.Title = "Ficha Atual";
}

<div style="margin-top: 20px">
    <div class="pull-left">
        <div>
            <h4 style="display:inline; font-size: 24px; font-weight:bold ">
                Treino:
            </h4>
            @if (Model != null && Model.Count() > 0)
            {
                <h5>@Html.Label(Model.First().Ficha.Descricao)</h5>
            }

        </div>
    </div>

    <div class="pull-right">
        <a asp-action="ControlarFicha" class="btn btn-primary">Gerenciar Fichas</a>
    </div>
</div>


<table class="table table-hover pull-left" style="margin-top: 20px">

    <tr>
        <td>
            @Html.Label("Exercício")
        </td>
        <td>
            @Html.Label("Serie")
        </td>
        <td>
            @Html.Label("Repeticões")
        </td>
        <td>
            @Html.Label("Carga")
        </td>
    </tr>
    @{ foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Exercicio.Descricao
                </td>
                <td>
                    @item.Serie.ToString()x
                </td>
                <td>
                    @item.Repeticao
                </td>

                <td>
                    @String.Format("{0:0}",item.Carga)
                </td>
            </tr>
        }
    }
</table>
@if (Model != null && Model.Count() > 0)
{
    @if (Model.First().Ficha.IDFicha > 0)
    {
        <a href="@Url.Action("Executado", "Ficha", new { IDFicha = Model.First().Ficha.IDFicha })" class="btn btn-success" style="float:right">
            Finalizado
        </a>
    }
}
