@model AdmSimposio.Models.ListaPresenca
@using AdmSimposio.Models.CrossCutting

@{
    ViewData["Title"] = "Cadastrados";
    Layout = "_LayoutJsReport-Table";
}

<div class="container">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="alinharPaginaProtrait">
                    <img src="https://siu.univale.br/Temas/Estilo_1/imagens/Banner_Simposio.png" style="width:98%;" class="img-fluid" />
                    <div class="header-center">
                        <h2>LISTA DE PRESENÇA</h2>
                    </div>
                    <div class="topTable" style="margin-bottom: 10px">
                        @if (Model.ListaPresencaSimposioTematicos != null && Model.ListaPresencaSimposioTematicos.Count > 0)
                        {
                            @foreach (var itemST in Model.ListaPresencaSimposioTematicos)
                            {
                                <div style="display:block; margin-bottom: 0px">
                                    <font style="font-weight:bold">@Html.DisplayFor(modelItem => itemST.SimposioTematico.TituloSimposioTematico)</font>
                                </div>
                                <div style="display:block; margin-bottom: 6px">
                                    Coordenadores (as):
                                    @foreach (var itemAutor in itemST.SimposioTematico.Autores)
                                    {
                                        if (itemST.SimposioTematico.Autores.Count() > 1)
                                        {
                                            if (itemAutor != itemST.SimposioTematico.Autores.Last())
                                            {
                                                @(itemAutor.Nome)<span>; </span>
                                            }
                                            else
                                            {
                                                @(itemAutor.Nome)<span>; </span>
                                            }
                                        }
                                        else
                                        {
                                            @(itemAutor.Nome)
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                    <div class="topTable" style="margin-bottom: 20px">
                        <div style="display:block; margin-bottom: 1px">Local: @Model.Local</div>
                        <div style="display:block; margin-bottom: 1px">Data: @Model.DataFinal.ToString("dd/MM/yyyy") de <font style="font-weight:bold">@Model.DataInicial.ToString("HH:mm") às @Model.DataFinal.ToString("HH:mm")</font></div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table-fillPortrait" id="tbVisualizarLista">
                            <col width="40%">
                            <col width="15%">
                            <col width="15%">
                            <col width="30%">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="text-center">Nome</th>
                                    <th colspan="2" class="text-center">Categoria</th>
                                    <th rowspan="2" class="text-center">Assinatura</th>
                                </tr>
                                <tr>
                                    <th class="text-center">Inscrito</th>
                                    <th class="text-center">Não Inscrito</th>
                                </tr>
                            </thead>
                            <tbody class="table-hover">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>